.task-list-item
  list-style none

.page
  & > .content__default
    & > p
      text-indent 2em

.footnotes
  & > .footnotes-list
    & > .footnote-item
      & > p
        margin-block-start unset
        margin-block-end unset
