.task-list-item {
    list-style: none;
}

.page > .theme-default-content > p {
    text-indent: 2em;

    & > img {
        margin-left: -2em;
    }
}

.footnotes .footnotes-list .footnote-item {
    padding-top: 0 !important;
    margin-top: 0 !important;

    & > p {
        margin-block-start: unset;
        margin-block-end: unset;
    }
}
